/target/
/.idea/
/target/
/bin/
.DS_Store
/*.iml
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
